<h2>User info</h2>
<div>
  <%= image_tag user.get_profile_image("63x63") %>
  <table class="table">
    <tbody>
      <tr>
        <th class="p-3">name</th><td><%= user.name %></td>
      </tr>
      <tr>
        <th class="p-3">introduction</th><td><%= user.introduction %></td>
      </tr>
    </tbody>
  </table>
  <% if !(user.name == "guestuser") %>
    <div class="row">
      <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block ml-3 px-5" do %>
        <i class="fas fa-user-cog"></i>
      <% end %>
    </div>
  <% end %>
</div>

<!---------------------------------------------------------------------------->

<h2 class="mt-4">New book</h2>

<% if @new_book.errors.any? %>
  <p><%= @new_book.errors.count %> errors prohibited this book from being saved:</p>
  <ul>
    <% @new_book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: new_book, method: :post, local:true do |f| %>
  <p>Title</p>
    <%= f.text_field :title %>
  <p>Opinion</p>
    <%= f.text_area :body %>
  <div class="actions mt-3">
      <input type="submit" name="commit" value="Create Book" class="btn btn-success">
  </div>
<% end %>